<div>
    
    <img src="{{ cardimg }}" class="image">

    <div class="image-grid">   
    
                {% for item in gallery %}

                    {% if item.type == "image" %}
                    <!-- images -->
                    <img src="{{ item.src }}" alt="">

                    <!-- videos -->
                    {% elif item.type == "video" %}
                    <video autoplay loop>
                        <source src="{{ item.src }}">
                    </video>

                    {% elif item.type == "subheader" %}
                    <div class="project-title" style="background-color:{{color}};">
                        <h4>{{ item.content }}</h4>
                    </div>

                    {% elif item.type == "text" %}
                    <div class="gallery-text-container">
                        <p>{{ item.content }}</p>
                    </div>
                    
                    {% endif %}
                {% endfor %} 
            </div>

    </div>

</div>


