---
title: about
layout: 'base.njk'
color: "#B87BFF" 
---

<style>
    a {
     color: {{ color }};
    }
</style>

<div class="about-content-container">
    {% include 'nav.njk'%}

    <div class="about-content-left">
        <div class="about-content-child">
            <p>Hi I'm iris, <br>

            I'm a freelance graphic designer / visual artist and DJ based in Rotterdam, the Netherlands. I work under the pseudonym; Droom.iris, which is inspired by my dreamlike take on shapes, typography, rhythms and vibrant colour palettes. <br>
            <br>
            I focus on the design of visual identities, systems and colourful posters. I'm mostly inspired by graphics from the 80's and I love experimenting with different techniques, both analog and digital. <br>

            I'm also involved with the Riso Wizards, a local Riso-publisher based in Rotterdam. <br>
            <br>
            I'm available for freelance work, contact me for enquiries!</p>
        </div>
        <div class="about-content-child collab-contact-grid">
            <div class="collab-contact">
                <p>COLLABORATORS/CLIENTS <br>
                Roodkapje Rotterdam, Humdrum press, Vulvaverse festival, Hocus Bogus Publishing, Riso Wizards, de Sportkantine, The Mingle Shop, Beeld &amp; Geluid Museum Hilversum, Giraffe Coffee Roasters.</p> <br>
            </div>
            <div class="collab-contact">
                <p>CONTACT <br>
                Hillevliet 98 <br>
                3074 KD Rotterdam <br>

                <a class="email" href="mailto:info@droom-iris.com">info@droom-iris.com</a> <br>
                +31 65 22 50 093 <br>
                <a href="https://www.instagram.com/droom.iris/" class="instagram" style="color: '{{ color }}'">instagram</a>
                </p>
            </div>
        </div>
        <div class="about-content-child">
            <p>
            EXHIBITIONS <br>
            - Glad to See you - Drievriendenstraat, 2024 <br>
            - Snackbar Root - Yiraera, Seoul, 2024 <br>
            - Graduation show - WdKA, 2023 <br>
            - Reclamebord #5 - Kunstcollectief Root, 2023 <br>
            - Club Bit - Solo exhibition, 2023 <br>
            </p>
        </div>
        <div class="about-content-child">
            <p>
            WORKSHOPS <br>
            - Mini-zine workshop with archival material - for Beeld &amp; Geluid Museum Hilversum, during Crosscomix festival, 2025 <br>
            - Riso-print workshop - OX.space, 2024 <br>
            </p>
        </div>
        <div class="about-content-child">
            <p>  Droom.iris portrait by Robin de Haan <br>
            Telegraf typeface by Pangram Pangram </p>
            <br>
        </div>
    </div>
    <div class="about-content-right">
      <img src="/assets/0.droom.iris.jpg" class="me">
    </div>

    {% include 'copyright.njk' %}
</div>
    <script src="about.js"></script>

    
